body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #8B0000;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 20px;
  background-color: #ccccff;
}

.pdf-link {
  display: block;
  margin-bottom: 30px;
}

.pdf-link a {
  background-color: #d32f2f;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}



